# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Fireball specials
*.log
*.x
*.xsf
.project
.svn
*~
results
autom4te.cache
*.dat
*.dir
*.gbs
*.na0
*.na1
*.wf1
*.ena1
*.ewf1
*.ena2
*.ewf2
*.na2
*.wf2
*.png
*.CHARGES
*.eigen
*.inp
*.json
*.traj
*.xyz
*.options
*.output
tests/04.methane/.ipynb_checkpoints/methane-checkpoint.ipynb
